body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* index route cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.view-and-book{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;

}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New route */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
    outline: none !important;
}

/* show route */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}


.booking{
    width:250px;
    height: 40px;
    background-color: #fe424d;
    margin-top: 30px;
    border: none;
    text-align: center;
    cursor:pointer;
}
.booking a{
    text-decoration: none;
    width:100%;
    height: 100%;
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.booking:hover{
    transform: scale(1.1);
}

/* Map */
#map { 
   height:400px;
   width:60vw; 
}

/* signup  and login*/
.signup, .login{
    margin:10rem 0 3rem 0;
    font-size: 2.3rem;
}

.signup span{
    color: #fe424d;
    font-weight: 900;
}


/* payment */

.payment-container {
        max-width: 800px;
        margin: 50px auto;
        background: #fff;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.payment-container  h1 {
    text-align: center;
    color: #333;
    font-size: 2.2em;
    margin-bottom: 50px;
}

.payment-container  h2, h3 {
    color: #555;
    margin-bottom: 15px;
}

.payment-container  p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.total-amount{
    font-size:2rem;
    font-weight: 900;
    background-color: #fe424d;
    padding: 10px;
}

.total-amount span{
    font-size: 2.2rem;
    font-weight:900;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.payment-method {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.payment-method:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.payment-method h4 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}

.payment-method img {
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.payment-method img:hover {
    opacity: 0.85;
}

@media (max-width: 768px) {
    .payment-options {
        flex-direction: column;
        gap: 20px;
    }
}
